<div class="row with-margin">
    <div class="col-xs-offset-4 col-xs-4">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" name="tag" placeholder="Search Tag" required ngModel #searchTag="ngModel">
          <span class="help-block" *ngIf="searchTag.invalid && searchTag.touched">The search tag is required</span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="userId" placeholder="User Id" ngModel>
        </div>

        <div class="error-message" *ngIf="errorOcurred">An error has ocurred, please try again</div>
        <div class="error-message" *ngIf="responseIsEmpty">The request yielded no results, please try with another tag</div>

        <button class="btn btn-primary pull-right" [disabled]="f.invalid" type="submit">Submit</button>
        <button class="btn btn-danger pull-right" (click)="onCancel(f)" type="button">Cancel</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <data-table id="photo-grid" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowClick)="rowClick($event)">
          <data-table-column [property]="'tag'" [header]="'Tag'" [resizable]="true"></data-table-column>
          <data-table-column [property]="'url_q'" [header]="'Image'" [resizable]="true"></data-table-column>
          <data-table-column [property]="'ownername'" [header]="'Owner'" [sortable]="true" [resizable]="true"></data-table-column>
          <data-table-column [property]="'dateupload'" [header]="'Date Uploaded'" [sortable]="true" [resizable]="true"></data-table-column>
          <data-table-column [property]="'datetaken'" [header]="'Date Taken'" [sortable]="true" [resizable]="true"></data-table-column>
          <data-table-column [property]="'views'" [header]="'Views'" [sortable]="true" [resizable]="true"></data-table-column>
        </data-table>
    </div>
  </div>
